<?php

//
// Basic Settings
//

define( 'APPNAME',    'Basic Template' );
define( 'SHORTNAME',   basename(getcwd()) ); // no whitespaces, we use the base foldername
define( 'APPSLOGAN',  'Small PHP Template to create webpages.' ); // Page Slogan
define( 'KEYWORDS',   ''); // serachword for search enginges 
define( 'DESCRIPTION', ''); // Page description for search engines
define( 'APPDOMAIN',  'you.domain.de' ); 
define( 'PAGES',      __DIR__ . "/pages/" ); // path to the pages/sites folder
define( 'TPL',        __DIR__ . "/tpl/" ); // path to the templates folder
define( 'IMGFOLDER',	"./inc/images/" ); // path to image galerie files
define( 'IMGTYPES',		"jpg,jpeg,png,gif" ); // coma separated list of used Imagefile mimetypes for galerie (* = all mimetypes)
define( 'METRICS',    true ); // enable or disable metrics endpoint
define( 'EXCLUDED_IP', array( '127.0.0.1', '::1' ) ); // Exclude IPs from tracker
define( 'MENU_EXCLUDE', array( 'index', '401', '403', '404', 'login', 'info' ) ); // Exclude Sites from Menu

define( 'ENV',        'prod' ); 					// Enviroment (dev,prod)
define( 'SECRET',     'tOpSeCr3tT0k3n!'); // Secret token

define( 'USER', 'admin' );			// Login Username
define( 'USERPASS', 'admin' );	// Login Password

// Set default Timezone 
// var_dump( DateTimeZone::listIdentifiers() ); // list them all
date_default_timezone_set( 'Europe/Berlin' );
define( 'CLIFETIME', 3600 ); // Cookie lifetime
define( 'SRI', true ); // enable (true) or disable (false) SRI (https://www.w3.org/TR/SRI/)

//
// Mail / Contact Data
//

define( 'MAILHOST', "smtp.gmail.com" );
define( 'MAILUSER', "yourmail@gmail.com" ); // musst a valid email adress!
define( 'MAILPASS', "*****" );
define( 'MAILPORT', 465 );
define( 'MAILPROTO', "ssl" );
define( 'MAILRECIPIENT', 'recipient@gmail.com' ); // single entry, or comma separeted list of recipients for the contact mails

// Contactpage Data
define( 'CONTACTADRESS', true );	// show Adress
define( 'CONTACTMAP', true );			// show Google Maps
define( 'CONTACTFORM', true );		// show Contact formular
define( 'CONTACTNAME', 'Name Surename' ); // You Full name
define( 'CONTACTSTREET', 'Street Name Housenumber' );  // Street and Housenumper
define( 'CONTACTPOSTCODE', 'PLZ' ); // Postcode
define( 'CONTACTCITY', 'City' ); // City
define( 'CONTACTCOUNTRY', 'State' ); // Country
define( 'CONTACTSTATE', 'Deutschland' ); // State
define( 'CONTACTPHONE', '0123123123' ); // Phonenumber (empty to hide)
define( 'CONTACTFAX', '' ); // Faxnumber (empty to hide)
define( 'CONTACTMAIL', 'recipient@gmail.com' ); // Mailadress (empty to hide)

// Social Links
define( 'SOCIALLINKS', true ); // show/hide Sociallinks
define( 'SOCIALPAGE', 'https://www.mvattersen.de/' ); // Main website from the Auhtor
define( 'SOCIALTWITTER', 'https://twitter.com/' );
define( 'SOCIALFACEBOOK', 'https://facebook.com/' );
define( 'SOCIALINSTAGRAM', 'https://www.instagram.com/' );
define( 'SOCIALYOUTUBE', 'https://www.youtube.com/' );

// E-Mail Formular Stuff
define( 'MAILCAPTCHA', true );
define( 'MAILPHONE', CONTACTPHONE );
define( 'MAILFAX', CONTACTFAX );
define( 'MAILTWITTER', SOCIALTWITTER );
define( 'MAILFACEBOOK', SOCIALFACEBOOK );
define( 'MAILINSTAGRAM', SOCIALINSTAGRAM );
define( 'MAILYOUTUBE', SOCIALYOUTUBE );
define( 'MAILHTMLHEADER', '' ); // HTML Mail Header Image (Resolution: widht 516px, height 129px)
define( 'MAILHTMLIMAGE', '' ); // A Image you can use in the HTML Template (Resolution: width 256px, height 256px)

// $subjectfields = array( // Subjectfield Text's. if set this, there will be a Dropdown
// 	'General question',
// 	'Suggestion for improvement',
// 	'Report an error',
// 	'Advertising request',
// 	'Something else'
// );
$subjectfields = NULL;
define( 'MAILSUBJECT', $subjectfields );

//
// Database Stuff
//

// Used Database type
define( 'DB', 'SQLite' ); // Use Database SQLite
//define( 'DB', 'MySQL' ); // Used Database MySQL

// MySQL connection parameters
define( 'MYSQL_USER', 'dbuser' );
define( 'MYSQL_PASS', '*****' );
define( 'MYSQL_NAME', 'tpl' );
define( 'MYSQL_HOST', 'localhost' );
define( 'MYSQL_PORT', 3306 );

// SQLite connection parameters
define( 'SQLITE_TYPE', 'FILE' );// FILE | MEMORY (In planning)
define( 'SQLITE_FILENAME', 'database.sqlite' ); // the used Filename
define( 'SQLITE_FILE', __DIR__ . '/db/' . SQLITE_FILENAME ); // Build whole path
define( 'SQLITE_USE', false );

//
// Some other usefull constants
//

// set server and client token
$unpack = unpack( 'H*', SECRET );
$secret = array_shift( $unpack );
define( 'SERVERTOKEN', strtotime( date( 'd.m.Y H:00:00' ) ) . '_' . $secret ); // valid for one day!
define( 'CLIENTTOKEN', urlencode( base64_encode( SERVERTOKEN ) ) );
define( 'VERSION',    str_replace( "\n", '', file_get_contents( __DIR__ . '/version.txt' ) ) );

// helper constants
define( 'BASEPATH', str_replace( 'inc', '', __DIR__ ) );
define( 'PROTOCOL',    isset( $_SERVER['HTTPS'] ) && $_SERVER['HTTPS'] === "on" ? 'https://' : 'http://' );
define( 'HOST',        isset( $_SERVER['HTTP_HOST'] ) ? $_SERVER['HTTP_HOST'] : 'localhost' );
define( 'PATH',        dirname($_SERVER['PHP_SELF']) );
define( 'URL',         PROTOCOL . HOST . PATH ); 
define( 'CLIENTLANG',  substr( isset($_SERVER['HTTP_ACCEPT_LANGUAGE']) ? $_SERVER['HTTP_ACCEPT_LANGUAGE'] : 'de' , 0, 2 ) );
define( 'PAGE', isset( $_REQUEST['page'] ) ? $_REQUEST['page'] : 'home' );

?>
